<% provide(:title, 'Contact Us') %>

<h1>Contact Information</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>

<p>
  Contact Mickey Mouse
  <a href="http://disney.com/contact">contact page</a>.
</p>